.App {
  color: white;
  text-align: center;
  font-family: Playball;
  background: rgb(14, 6, 26);
  height: max-content;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #FF3636;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FF3636;
  border-radius: 10px;
}
