.products-page {
    height: 3532px;
    margin: auto;
}

.page-heading{
    margin: auto;
}
.page-heading-title {
    font-size: 64px;
    color: #FF3636;
}

.page-heading-line {
    background: white;
    height: 10px;
    width: 146px;
    border-radius: 5px;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-card-container {
    max-width: 1076px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: space-around;
    display: grid;
    margin: 100px auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-card {
    position: relative;
    margin-bottom: 46px;
    background: #FF3636;
    width: 345px;
    height: 398px;
    color: #fff;
    font-size: 20px;
    align-content: center;
    text-align: center;
    border: #FF3636 21px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-card-contents {
    margin: auto;
}

img {
    background: black;
    border: solid black;
    border-radius: 50%;
    padding: 10px;
    width: 206px;
    height: 196px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.product-card-price {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    text-align: right;
}

.product-card-name {
    font-family: Playball;
    font-size: 36px;
    text-align: center;
    margin: auto;
}

.product-card-buy-button {
    background:black;
    width: 250px;
    height: 59px;
    padding-top: 12px;
    margin: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.product-card-buy-button-text {
    margin: auto;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;

}