.about-page {
    height: max-content;
    font-style: montserrat;
}

/* .about-page-background-img {
} */
.about-section,
.our-history-section {
    padding-top: 100px;
    padding-bottom: 176px;
    width: 710px;
    font-size: 24px;
    line-height: 40px;
    font-family: Montserrat;
    margin: auto;
}

.our-values-section, .our-partners-section{
    height: 300px;
    width: 1075px;
    background: #FF3636;
    padding-top: 100px;
    vertical-align: middle;
    margin: auto;
    direction: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
}

.our-value {
    direction: flex;
    flex-direction: row;
    max-width: 1075px;
    background: white;
    width: 291px;
    height: 291px;
    margin:auto;
    border: 6px solid #FF3636;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}